html,body{margin:0;padding:0;font-size:0.75em;width:100%;height:100%;font-family: 'NanumSquare', sans-serif;}
.kr {font-family: 'NanumSquare', sans-serif !important;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

#hd ul, nav ul, #ft ul {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-size:1em}
button {cursor:pointer}
ul li{list-style:none;}

textarea, select {font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {text-decoration:none}
a:hover, a:focus, a:active {text-decoration:none;}

/* 셀렉트바 스타일 */
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100px;
  border: none;
}
.select .select-option {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #ffffff;
  color: #222;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select .select-option::-ms-expand {
  display: none;
}
.select .select-option:hover,
.select .select-option:focus {
  color: #000;
  background: #ccc;
}
.select .select-option:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 40%;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select .select-option:hover ~ .select__arrow,
.select .select-option:focus ~ .select__arrow {
  border-top-color: #000;
}
.select .select-option:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

#app{position: relative;margin:0 auto;text-align:center;width:100%;}

#ex_container{position:relative;width:100%;min-height:1110px;margin:0 auto;text-align:center;overflow:hidden;background:url(../img/bg_green.png) no-repeat center top, url(../img/bg_greenline.png) repeat center top;}
#ex_container > h2{position: absolute;width:100%;margin:0 auto;text-align:center;background-color: rgba(255,255,255,0.4);left:0px;top:0px;height:60px;line-height: 60px;z-index:80;font-size:24px;color:#222;}
#ex_container .spot{position:relative;margin:0 auto;text-align:center;min-height:1000px;width:100%; background: url(../img/bg_graybottom.png) repeat-x bottom;}

#ex_container .spot > span{position:absolute;margin:0 auto;text-align:center;width:100%;left:0px;bottom:30px;}
#ex_container .people {position:absolute;left:0px;width:100%;min-height:990px;margin:0 auto;text-align:center;z-index:80;}
#ex_container .people span:nth-of-type(2){position:absolute;right:19%;bottom:100px;}
#ex_container .people span:nth-of-type(1){position:absolute;left:16%;bottom:20px;}
#ex_container .spot .center{display:block;margin:0 auto;text-align:center;margin-top:110px;padding-bottom:500px;}
#ex_container .spot .center iframe{border:8px solid #a4a5a7}
button.buy{border-radius:100em;display:block;margin:0 auto;text-align:center;font-size:26px;color:#fff;border:3px solid #fff;background:#777777;padding:15px 25px;}
#ex_container .left{position:absolute;left:0px;width:25%;top:0px;min-height:990px;z-index:70;margin-top:-90px;box-sizing:border-box;
  border-left:400px solid #fcb720;
  border-top:60px solid transparent;
  border-bottom:60px solid transparent;}

#ex_container .right{position:absolute;right:0px;width:25%;min-height:990px; z-index:70;margin-top:-90px;box-sizing:border-box;
  border-right:400px solid #fcb720;
  border-top:60px solid transparent;
  border-bottom:60px solid transparent;
}
#ex_container .left img,
#ex_container .right img{position:absolute;max-width:330px;max-height:630px;margin-top:220px;}
#ex_container .left img{left:-370px;z-index:90;transform:perspective(800px) rotateY(20deg);-ms-transform:perspective(800px) rotateY(20deg);-webkit-transform:perspective(800px) rotateY(20deg)}
#ex_container .right img{right:-370px;transform:perspective(500px) rotateY(-10deg);-ms-transform:perspective(500px) rotateY(-10deg);-webkit-transform:perspective(500px) rotateY(-10deg)}